.container-schedule {
    height: calc(100vh- 500px);
}

.calendar-left {
    padding: 10px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
}

.event-item {
    position: absolute;
    top: 5px;
    left: 5%;
    right: 0;
    box-sizing: border-box;
    padding: 0 10px;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-weight: 400;
    z-index: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 90%;
}

.orange {
    background-color: orange;
}

.green {
    background-color: green;
}

.default {
    background-color: #509ADF75;
}