.container {
    margin: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 1;
    margin-right: 10px;
}

.col:last-child {
    margin-right: 0;
}

.empty-state-report {
    text-align: center;
    margin-top: 150px;
    font-size: 40px;
    font-style: italic;
    color: #a3a3a3;
}

.e-date {
    margin-left: 100px;
}

.select-training {
    max-width: 150px;
}
