.notification {
    text-align: center;
    margin-top: 150px;
    font-size: 40px;
    font-style: italic;
    color: #a3a3a3;
}

.trainSelect {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 10px;
}

.row {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 180px;
}

.row span {
    font-weight: bold;
    margin-bottom: 5px;
}

.dateTrain {
    width: 180px;
}

.searchSection {
    width: 150px;
    padding-top: 10px;
}

.table-container {
    margin-top: 30px;
    padding: 20px;
}

.table-container .ant-table {
    margin: 0 auto;
}

.table-container .ant-table-thead>tr>th {
    background-color: #f7f7f7;
}

.table-container .ant-table-row {
    height: 60px;
    line-height: 60px;
}

.table-container .ant-table-cell {
    padding: 16px;
}

.dateStartEnd {
    gap: 9rem;
}