.span {
    text-decoration: underline;
}

.trainer {
    display: flex;
    padding-left: 10px;
}

.trainer-1 {
    display: flex;
    gap: 10px;
}

.classname {
    display: flex;
    gap: 10px;
}

.text {
    font-weight: bold;
}